.quiz {
    font-family: "Lato";

    cursor: default;    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quiz .questionset {
    border: 2px solid #688B6A;
    margin: 0% 0px 5% 0px;
    padding: 1%;
}

.quiz .title, .quiz .question, .quiz .answer, .quiz .result {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    line-height: 1.8em;
    overflow: hidden;
}

.quiz .title {
    cursor: pointer;
}

.quiz .title, .quiz .result {
    height: 250px;
    margin: 0% 0px 5% 0px;
}

.quiz .result {
    font-style: italic;
    display: none;
}

.quiz .question {
    height: 200px;
    margin-bottom: 3%;
}

.quiz .answer {
    height: 130px;
    text-align: right;
    margin-top: 1%;
    opacity: 0.5;
    cursor: pointer;
}

.quiz .questionset.half .answer {
    float: left;
    width: 49%;
    margin-right: 1%;
}

.quiz .questionset.third .answer {
    float: left;
    width: 32.3%;
    margin-right: 1%;
}

.quiz .answer:hover {
    opacity: 0.7
}

.quiz .answer.deselected:hover {
    opacity: 0.5;
}

.quiz .answer.selected {
    opacity: 1;
}

.quiz .answer.deselected {
    opacity: 0.3
}

.quiz .title h1, .quiz .question h1, .quiz .answer h1, .quiz .result h1, .quiz .title h2, .quiz .result p {
    display: inline-block;
    margin: 10px;
    padding: 12px 16px;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.quiz .title h1, .quiz .result h1 {
    font-size: 25px;
}

.quiz .title h2 {
    font-size: 15px;
    margin-top: 0px;
}

.quiz .question h1 {
    font-size: 18px;
    font-style: italic;
}

.quiz .answer h1 {
    font-size: 14px;
    text-transform: uppercase;
}

.quiz .answer.text {
    background-color: #688B6A;
    text-align: center;
    line-height: 130px;
}

.quiz .answer.text h1 {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.quiz .result p {
    margin-top: 0px;
}


.quiz .quizbody {
    display: none;
}

.quiz .anotherquiz {
    font-size: 12px;
    padding: 5px 18px !important;
    font-style: normal;
    cursor: pointer;
    font-weight: bold;
}

.quiz .clear {
    clear: both;
}
